<!--Page Background and Illustrations-->
    <img id='hand2' class="fadeInUp animated" src="./img/RecieptHand.png" alt="">
    <img id='hand1' class="fadeInDown animated" src="./img/MoneyHand.png" alt="">
    <img src="./img/Background.jpg" alt="">

    <!--Content-->
    <div id="content">
        <p id="title" class="fadeInLeft animated"> Fast &amp; Easy<br>
            Expense <br>
            Reimbursement</p>
        <p id="description" class="fadeInDown animated"> The CALYPSO application is used to reimburse J&amp;M <br>
            employees for out of pocket cost and fees that are <br>
            directly related to J&M and our expense requirements.</p>
    </div>

    </div>
    <button id="signup" class="btn btn-primary">SIGNUP</button>

    <button id="login" class="btn btn-primmary">LOGIN</button>

    <!-- The Modal -->
    <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content bounceInDown animated">
            <span class="close">&times;</span>
            <h2 id="modalHeader">CALYPSO</h2>
            <hr>
            <h3 id="modalHeader2"> Sign In To CALYPSO</h3>

            <div class="form-group">
                <label for="username">Username</label>
                <input type="email" class="form-control" id="username" placeholder="Username" />
            </div>

            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" placeholder="Password" />
            </div>

            <button type="submit" class="btn btn-primary login" id="validateUser">Login</button>
            <br>
            <br>
            <div class="alert alert-danger" id="login-message"></div>
        </div>

    </div>